<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="font/stylesheet.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/mediy.css">
</head>
<body>
    <div class="main">
        <div class="main-left">
            <div class="post__fon">
                <p class="text-1">NEW POST</p>
                <hr class="hr">
                <div class="post__flex">
                    <input class="input" type="text" placeholder="What’s on your mind?">
                    <div class="icon">
                        <img src="icon/paperclip.svg" alt="">
                        <img src="icon/image.svg" alt="">
                        <img src="icon/film.svg" alt="">
                        <button class="button"><img class="img" src="icon/tg.svg" alt=""></button>
                    </div>
               </div>
            </div>
            <p class="text-2">SORT BY: <a class="silka" href="">TRENDING <img src="./icon/Vector.png" width="10px" height="10px" alt=""></a></p>
            <div class="block-text-img">
                <div class="block-img">
                    <p class="text-3"> <a href="">Ted Bell, Annette Nguyen</a> and <a href="">Cody Hawkins</a> liked this</p>
                    <img src="./icon/more-horizontal.svg" width="20px" height="20px" alt="">
                </div>
                <div class="hr-1"></div>
                <div class="block-img-1">
                    <div class="left">
                        <img src="./img/Photo.svg" width="40px" height="40px" alt="">
                    </div>
                    <div class="right">
                        <p class="text-4">Theresa Steward</p>
                        <p class="text-5">iOS developer</p>
                    </div>
                </div>
                <p class="text-6">What did the Dursleys care if Harry lost his place on the House Quidditch team because he hadn’t practiced all <br> summer? What was it to the Dursleys if Harry went back to school without any of his homework done? <br> The Dursleys were what wizards called Muggles (not a drop of magical blood in their veins).</p>
                <a class="silka-1" href="">Read more</a>
                <div class="hr-2"></div>
                <div class="block-right-left">
                    <div class="left-1">
                        <img src="./icon/Vector (1).svg" alt="">
                        <p class="text-7">42</p> 
                        <img class="img-2" src="./icon/Vector (2).svg" alt="">
                        <p class="text-7">9</p> 
                    </div>
                    <div class="right-1">
                        <img src="./icon/share-2.svg" width="15px" height="15px" alt="">
                        <p class="text-8">SHARE</p>
                    </div>
                </div>
            </div>
            <div class="block-text-img-1">
                <div class="block-img">
                    <p class="text-3"> <a href="">Audrey Alexander</a>,comment this</p>
                    <img src="./icon/more-horizontal.svg" width="20px" height="20px" alt="">
                </div>
                <div class="hr-1"></div>
                <div class="block-img-1">
                    <div class="left">
                        <img src="./img/Photo (1).svg" width="40px" height="40px" alt="">
                    </div> 
                    <div class="right">
                        <p class="text-4">Kyle Fisher</p>
                        <p class="text-5">Product designer at Commandor Corp.</p>
                    </div>
                </div>
                <p class="text-6">How’s your day going, guys?</p>
                <img class="img-3" src="./img/Rectangle 3.svg" alt="">
                <div class="hr-2"></div>
                <div class="block-right-left">
                    <div class="left-1">
                        <img src="./icon/Vector (1).svg" alt="">
                        <p class="text-7">12</p> 
                        <img class="img-2" src="./icon/Vector (2).svg" alt="">
                        <p class="text-7">3</p> 
                    </div>
                    <div class="right-1">
                        <img src="./icon/share-2.svg" width="15px" height="15px" alt="">
                        <p class="text-8">SHARE</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-right">
            <div class="block-right">
                <img src="img/shapka.svg" alt="">
                <img class="block_img" src="img/Ellipse.svg" alt="">
                <div class="block-text">
                    <p>Dmitry Kargaev <img src="icon/Logo.svg" alt=""></p>
                    <p class="bock__text">Freelance UX/UI designer, 80+ projects <br> in web design, mobile apps (iOS & android) and <br> creative projects. Open to offers.</p>
                </div>
                <div class="button-right">
                    <button class="right__button">write new article</button>
                </div>
                <div class="group">
                    <div class="group-text">
                        <h1 class="group_h1">MY GROUPS</h1>
                        <a class="group_a" href="#">EDIT LIST</a>
                    </div>
                        <hr class="lin">
                        <div class="group__img">
                            <img class="group_img" src="img/Group.svg" alt="">
                            <h1 class="h1">Moscow State <br>
                                Linguistical <br>
                                University</h1>
                        </div>
                        <div class="group__img">
                            <img class="group_img" src="./img/Rectangle 2.2.svg" alt="">
                            <h1 class="h1">Digital freelancers
                                group</h1>
                        </div>
                        <div class="group__img">
                            <img class="group_img" src="./img/Rectangle 2.2 (1).svg" alt="">
                            <h1 class="h1">Interaction <br>
                                design <br>
                                association</h1>
                        </div>
                        <a class="a-1" href="">Show all (8)</a>
                </div>
                <div class="group-btn">
                    <p class="text-9">Followed hashtags</p>
                    <hr class="liniya-1">
                    <div class="btn-flex">
                        <button class="btn">#work</button>
                        <button class="btn-1">#business</button>
                        <button class="btn-2">#hr</button>
                    </div>
                    <div class="btn-flex">
                        <button class="btn-3">#userinterface</button>
                        <button class="btn-4">#digital</button>
                    </div>
                    <div class="btn-flex">
                        <button class="btn-5">#userexperience</button>
                        <button class="btn-6">#ux</button>
                    </div>
                    <div class="btn-flex">
                        <button class="btn-7">#ui</button>
                        <button class="btn-8">#freelance</button>
                    </div>
                </div>  
            </div>
        </div>
   </div>    


</body>
</html>
